<%= form_for(patient) do |f| %>
    <% if patient.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

            <ul>
                <% patient.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :age %>
    <%= f.number_field :age %>

    <%= f.label :gender %>
    <%= f.text_field :gender %>

    <%= f.label :county %>
    <%= f.text_field :county %>

    <%= f.label :town %>
    <%= f.text_field :town %>

    <%= f.label :married %>
    <%= f.check_box :status %>

    <%= f.submit "create my account", class: "btn btn-primary" %>
<% end %>
