<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @patient.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>County:</strong>
  <%= @patient.county %>
</p>

<p>
  <strong>Town:</strong>
  <%= @patient.town %>
</p>

<p>
  <strong>Status:</strong>
  <%= @patient.status %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
